{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
    <div id="container">
        <h1>Bienvenue sur la TodoList</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque autem culpa dolore dolorum ducimus. Consequuntur dignissimos dolor dolorem doloribus eveniet, laborum libero minus necessitatibus quibusdam repellendus repudiandae similique sint, sunt veritatis vero. Adipisci culpa dolore dolores eius, esse fugiat qui quibusdam repellendus sed sint! Commodi incidunt nulla, optio possimus quasi quis ratione. Dolorum nulla quia quod.</p>
    </div>
{% endblock %}
