ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    margin-bottom: 10px;
    height: 60px;
    text-align: left;
    background-color: #5F92A3;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

li a{
    line-height: 60px;
    text-transform: uppercase;
    font-size: 16px;
    color: #DAEAF0;
    font-weight: bold;
}

li a:hover{
    color: white;
}

hr{
    margin-bottom: 15px;
}

.done-task-btn{
    display: inline-block;
    float: right;
    margin-top: 2px;
}

.done-task-btn img{
    width: 15px;
    height: 15px;
}

a li{
    color: darkgray;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    text-indent: inherit;
    line-height: 58px;
    background-color: lightgray;
}

a:hover li{
    color: #787878;
}

.task-category{
    font-size: 12px;
    font-style: italic;
    text-align: left;
    display: block;
    margin-top: 25px;
}

.missedTask{
    background-color: #B0664D;
}

.missedTask a{
    color: #FFE6DE;
}

.missedTask a:hover{
    color: white;
}