table{
    margin: auto;
    position: relative;
    top: 15px;
}

hr{
    margin-bottom: 15px;
}

#form{
    text-align: left;
    margin: auto;
}

input[type="checkbox"]{
    position: relative;
    top: 2px;
}

input[type="submit"]{
    width: 100%;
    margin-right: 10px;
    border: 2px solid #5F92A3;
    background-color: white;
    color: #5F92A3;
    padding: 5px 15px;
    border-radius: 3px;
    margin-top: 15px;
}

input[type="submit"]:hover{
    color: white;
    background-color: #5F92A3;
    cursor: pointer;
}

td{
    height: 35px;
}

label{
    font-size: 13px;
    display: inline-block;
    width: 125px;
    margin-bottom: 10px;
}

#user-commands{
    margin-top: 15px;
    float: right;
}

.command-btn{
    display: inline-block;
    height: 50px;
    width: 50px;
    overflow: hidden;
    background-color: lightgray;
    margin-left: 10px;
}

.command-btn img{
    width: 25px;
    height: 25px;
    position: relative;
    top: 13px;
}